<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.k19.musicproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.MusicApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ScreenLogo"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MusicProject" >
        </activity>
        <activity
            android:name=".Playlists"
            android:label="@string/title_activity_playlists" >
        </activity>
        <activity
            android:name=".NowPlaying"
            android:label="@string/title_activity_nowplaying" 
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ListAllSongs"
            android:label="LIST ALL SONGS" >
        </activity>
        <activity
            android:name=".ListAlbums"
            android:label="LIST ALBUMS" >
        </activity>
        <activity
            android:name=".ListArtists"
            android:label="LIST ARTISTS" >
        </activity>
        <activity android:name=".HistoryActivity" >
        </activity>
        <activity android:name=".HistoryAdapter" >
        </activity>
        <service android:name="com.android.k19.musicproject.dataservices.Service_Playing" >
        </service>

        <activity
            android:name=".ListSongsInPlaylist"
            android:label="@string/title_activity_list_songs_in_playlist" >
        </activity>
        <activity
            android:name=".PlaylistDialog"
            android:label="@string/title_activity_playlist_dialog"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
    </application>

</manifest>